.videos_item_container {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  margin-left: 300px;
  flex-wrap: nowrap;
}
.clickedvideo_item {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 20px;
  margin-left: 10px;
}
.clicked_content {
  width: 900px;
}
.videoframe {
  border: none;
  width: 900px;
  height: 500px;
}
.description {
  width: 400px;
}
.relatedVideos_container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  flex-wrap: nowrap;
}

.relatedVideo_container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
